/* Fuente logotipo */

@import url('https://fonts.googleapis.com/css?family=Pacifico');
.logo {
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 1px 1px white;
}

#index-banner {
    background-image: url('../img/backgrounds/food-background.jpg');
    background-size: cover;
}

.section-search input[type="text"] {
    padding-left: 20px !important;
    font-size: 18px !important;
    width: 95% !important;
    border: #f4f4f4 3px solid !important;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    border-radius: 50px !important;
}

.section-ingredients {
    background-color: #fafafa;
    box-shadow: 2px 2px 5px grey;
}

.chips {
    border-bottom: none;
}

.chips.focus {
    border-bottom: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.enviar {
    margin-left: -50px !important;
}

.options {
    padding-top: 10px !important;
    background: rgba(255, 116, 116, 0.2);
    border-radius: 50px;
}

.modal { 
	width: 30% !important ;
	min-height: 2px;	
	overflow-y: hidden !important ;
	border-radius: 15px;
}

.img-recortada {    
    width: 350px;
    height: 290px;
    object-fit: cover;
}